extends layout/layout

block title
  title Dashboard

block content
  .row
    h1.text-center Welcome!
    h3 This is a highly secure area and can only be accessed with a password!

    a.btn.btn-default(href="logout") Logout