extends layout/layout

block title
    title Sign Up

block content
    .row
        .col-sm-8.col-sm-offset-2
            h2.text-center Sign Up
            p.text-center
                strong Passwords must be at least 8 characters long.
            form.form-horizontal(action='signup', method='POST')
                .form-group
                    label.col-sm-2.control-label Email
                    .col-sm-10
                        input.form-control(type="text", name="email", placeholder="E-mail")
                .form-group
                    label.col-sm-2.control-label Password
                    .col-sm-10
                        input.form-control(type="password", name="password", placeholder="Password")
                .form-group
                    label.col-sm-2.control-label First Name
                    .col-sm-10
                        input.form-control(type="text", name="firstName", placeholder="i.e. Jane")
                .form-group
                    label.col-sm-2.control-label Last Name
                    .col-sm-10
                        input.form-control(type="text", name="lastName", placeholder="i.e. Smith")
                .form-group
                    .col-sm-offset-2.col-sm-10
                        button.btn.btn-default(type='submit') Create My Account
            h5.col-sm-offset-2.col-sm-10 Already have an account? &nbsp;
                a(href="login") Log In Now

